NODE_ENV=development
LOG_LEVEL=debug

API_PORT=3000
API_HOST=0.0.0.0

DATABASE_URL=postgres://pinstripe:pinstripe@localhost:55432/pinstripe

REDIS_HOST=localhost
REDIS_PORT=56379

SMTP_HOST=localhost
SMTP_PORT=51025

SECRET_API_KEY=
ADMIN_API_KEY=
SYSTEM_API_KEY=
MANAGEMENT_API_KEY=

PINSTRIPE_API_URL=http://localhost:3000
PINSTRIPE_SECRET_API_KEY=
PINSTRIPE_ADMIN_API_KEY=
