@import 'tailwindcss';
@import '@heroui/styles';

:root {
  --app-sidebar-width: 232px;
  --app-topbar-height: 52px;
}

@theme inline {
  --spacing-sidebar: var(--app-sidebar-width);
  --spacing-topbar: var(--app-topbar-height);
}

body {
  margin: 0;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-size: 14px;
}
